.newsignup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
  }
  .newsignup-h{
    text-align: center;
    padding-top: 8% ;
    padding-bottom: 1%;
    color: rgb(56, 53, 57);
  }
  .newsignup-h p{
    font-size: 20px;
    color: rgb(67, 65, 65);
  }

  .signup-input{
    background-color: rgb(207, 220, 225);
    border-radius: 1em;
    border: none;
    padding: 10px 20px;
  }
  .signup-button{
    border-radius: 1em;
    border: none;
    padding: 10px 20px;
    background-color: rgb(56, 171, 216);
  }
  .signup-button:active{
    padding: 12px 22px;
   background-color: rgb(35, 107, 136);
  }
  .signup-span{
    color: rgb(192, 9, 9);
    font-family: 'Courier New', Courier, monospace;
  }