.blog-button{
   
    padding: 10px 10px;
    margin: 10px 0px;

    color: rgb(51, 49, 49);
    
}
.blog-button-link{
    text-decoration: none;
    background-color: rgb(86, 179, 148);
    padding: 10px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}